@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fredoka+One&family=Righteous&display=swap');

:root{
    --yellow:rgb(221, 165, 9);
    --green:rgb(72, 129, 11);
    --blue:rgb(19, 134, 201);
    --purple:rgb(76, 6, 185);
    --newpink: rgb(196, 14, 81);
    --audio:'Audiowide', cursive;
    --fredoka:'Fredoka One', cursive;
    --right:'Righteous', cursive;


}

section{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    height: 100vh;
    width: 100%; 
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

div:nth-of-type(1){
    grid-column: 1;
    margin:12vh 0 15vh 0;
}

input{
    height:4vh;
    width: 30vw;
    
}

textarea,input,select{
    font-size:1.2rem;
}

section>div:nth-of-type(2){
    grid-column: 2;
    margin:0 0 10vh 0;
}

 form{
    display: flex;
    flex-direction:column;
} 


p{
    color: var(--green);
    font-size: 1rem;
    font-family: var(--fredoka);
}

label{
    margin: 3vh 0 0 0;
}

input:-webkit-autofill {       
    transition: all 0s 50000s;     
  }