@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fredoka+One&family=Righteous&display=swap');

:root{
    --yellow:rgb(221, 165, 9);
    --green:rgb(72, 129, 11);
    --blue:rgb(19, 134, 201);
    --purple:rgb(76, 6, 185);
    --newpink: rgb(196, 14, 81);
    --audio:'Audiowide', cursive;
    --fredoka:'Fredoka One', cursive;
    --right:'Righteous', cursive;


}
.input{
    border: solid 3px var(--purple);
    caret-color: var(--blue);
    color: var(--blue);
    border-top-right-radius:20px;
    border-bottom-left-radius: 20px;
    outline: none;
    font-family: var(audio);
    background-color: transparent;
    text-align: center;
}

.list{
    color: var(--green);
    font-weight: bold;
}


button{
    font-family: var(--fredoka);
    font-size: 1rem;
    height:5vh;
    width: 10vw;
    background-color: var(--yellow);
    border-top-right-radius:20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

h1{
    color: var(--newpink);
    font-size: 1.5rem;
    font-family: var(--audio);
}

input:-webkit-autofill {       
    transition: all 0s 50000s;     
  }

  form>label{
    font: 1.6rem var(--right);
    text-align: left;
    color: var(--blue);

}