@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fredoka+One&family=Righteous&display=swap');

:root{
    --yellow:rgb(221, 165, 9);
    --green:rgb(72, 129, 11);
    --blue:rgb(19, 134, 201);
    --purple:rgb(76, 6, 185);
    --newpink: rgb(196, 14, 81);
    --audio:'Audiowide', cursive;
    --fredoka:'Fredoka One', cursive;
    --right:'Righteous', cursive;
}



section{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

form{
    display: flex;
    flex-direction:column; 
}

input{
    height:4vh;
    width: 30vw;
    font-size:1.2rem;
    border: solid 3px var(--purple);
    caret-color: var(--blue);
    color: var(--blue);
    border-top-right-radius:20px;
    border-bottom-left-radius: 20px;
    outline: none;
    font-family: var(audio);
    background-color: transparent;
    text-align: center;
}

input:-webkit-autofill {       
    transition: all 0s 50000s;     
  }

  form>label{
    font: 1.6rem var(--right);
    text-align: left;
    color: var(--blue);

}

form>div{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 100%;
}

button{
    font-family: var(--fredoka);
    font-size: 1rem;
    height:5vh;
    border-top-right-radius:20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}
form>div:nth-child(5){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin:2vh 0 0 0;  
}

 form>div:nth-child(5)>button:nth-child(1){
    background-color: var(--yellow);
    width: 15vw;
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 2vh;
}


form>div:nth-child(5)>button:nth-child(2){
    background-color: var(--green);
    width:var(--butWidth);
    grid-column: 2;
    grid-row: 1;
}

form>div:nth-child(5)>button:nth-child(3){
    background-color: var(--newpink);
    width:var(--butWidth);
    grid-column: 1;
    grid-row: 2;
}



form>div:nth-child(5)>button:nth-child(4){
    background-color: var(--blue);
    width:var(--butWidth);
} 



